NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;
NET "clr" LOC = AF13 | IOSTANDARD = LVCMOS15;
NET "up"  LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "down"LOC = AA13 | IOSTANDARD = LVCMOS15;

NET "clr" CLOCK_DEDICATED_ROUTE = FALSE;

 NET "red[0]"   LOC = T20  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "red[1]"   LOC = R20  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "red[2]"   LOC = T22  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "red[3]"   LOC = T23  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "green[0]"   LOC = R22  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "green[1]"   LOC = R23  | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "green[2]"   LOC = T24	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "green[3]"   LOC = T25 	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "blue[0]"   LOC = N21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "blue[1]"   LOC = N22	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "blue[2]"  LOC = R21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "blue[3]"  LOC = P21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "hs"    LOC = M22	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "vs"    LOC = M21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;

NET "SEGMENT[0]"LOC = AB22 | IOSTANDARD =LVCMOS33;#a
NET "SEGMENT[1]"LOC =AD24 | IOSTANDARD =LVCMOS33;#b
NET "SEGMENT[2]"LOC =AD23 | IOSTANDARD =LVCMOS33;#c
NET "SEGMENT[3]"LOC =Y21 | IOSTANDARD =LVCMOS33;#d
NET "SEGMENT[4]"LOC =W20 | IOSTANDARD =LVCMOS33;#e
NET "SEGMENT[5]"LOC =AC24 | IOSTANDARD =LVCMOS33;#f
NET "SEGMENT[6]"LOC =AC23 | IOSTANDARD =LVCMOS33;#g
NET "SEGMENT[7]"LOC =AA22 | IOSTANDARD =LVCMOS33;#h

NET "AN[0]" LOC = AD21 | IOSTANDARD =LVCMOS33;
NET "AN[1]" LOC = AC21 | IOSTANDARD =LVCMOS33;
NET "AN[2]" LOC = AB21 | IOSTANDARD =LVCMOS33;
NET "AN[3]" LOC = AC22 | IOSTANDARD =LVCMOS33;

NET"SEGCLK" LOC=M24 | IOSTANDARD =LVCMOS33;
NET"SEGCLR" LOC=M20 | IOSTANDARD =LVCMOS33;
NET"SEGDT" LOC=L24 | IOSTANDARD =LVCMOS33;
NET"SEGEN" LOC=R18 | IOSTANDARD =LVCMOS33;

NET"LED_CLK" LOC =N26 | IOSTANDARD=LVCMOS33;
NET"LED_CLR" LOC=N24  | IOSTANDARD =LVCMOS33;
NET"LED_DO" LOC =M26  | IOSTANDARD=LVCMOS33;
NET"LED_EN" LOC =P18  | IOSTANDARD=LVCMOS33;